@model WebApplication1.Models.PO

@{
    //Layout = null;
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <title>Translator</title>
</head>
<body>
    <h2>Dictionaries Translator (.po)</h2>

    Oto zakładane funkcjonalności:
    <ul>
        <li>Możliwy był upload plików .po na serwer.</li>
        <li>Dodany plik powinien być zapisywany na dysk serwera.</li>
        <li>Dla ułatwienia wybieramy język źródłowy pliku.</li>
        <li>Podczas dodawania pliku ma on zostać przetłumaczony na kilka wybranych języków (dla ułatwienia polski, francuski i niemiecki)</li>
        <li>Przetłumaczone pliki mają również zapisać się na dysku serwera.</li>
        <li>Dodany plik ma zostać dodany do bazy danych i widoczny na liście wszystkich plików.</li>
        <li>Możliwe ma być pobranie pliku źródłowego z serwera oraz plików przetłumaczonych.</li>
    </ul>

    Obsługa jest intuicyjna:
    <ul>
        <li>Klikamy Create new</li>
        <li>Podajemy nazwę tłumaczenia oraz język źródłowy (dla podanego pliku jest to English)</li>
        <li>Wybieramy plik dostępny w załączniku.</li>
        <li>Klikamy Create i czekamy (tłumaczenie na wszystkie języki może trochę potrwać)</li>
        <li>Pobieramy dowolny plik klikając na ikonę słownika.</li>
    </ul>
</body>
</html>

